# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules
/.pnp
.pnp.js

# testing
/coverage
/packages/*/coverage/

# production
/build
/packages/*/build/
/dist
/packages/*/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*bak
.eslintcache

# visual studio code
.vscode
.history
*.log
functions/*
.temp/**

# screenshot
screenshot
.firebase

package-lock.json
