**/*.svg
package.json
/packages/*/package.json
/dist
/packages/*/dist
/build
/packages/*/build
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
*.txt
*.ico
*.jpeg
*.jpg
/coverage
/packages/*/coverage
package-lock.json
tsconfig.json
/packages/*/tsconfig.json
.gitmodules
.gitkeep
.gitignore
.gitattributes
.husky
